///*------------------------------------*\
//    #VARIABLES
//\*------------------------------------*/

//font-family
$roboto: "Roboto", sans-serif;
$arimo: 'Arimo', sans-serif;

//font-weight

$light: 300;
$regular: 400;
$medium: 500;
$sbold: 700;
$bold: 900;

//colors
$white: #fff;
$black: #000;
$light-grey: #f2f2f2;
$grey: #d9d9d9;
$blue: #00adff;
