///*------------------------------------*\
//    #VARIABLES
//\*------------------------------------*/

//font-family
$roboto: "Roboto", sans-serif;
$poppins: 'Poppins', sans-serif;

//font-weight

$light: 300;
$regular: 400;
$medium: 500;
$sbold: 700;
$bold: 900;

//colors
$white: #fff;
$black: #000;
