.page {
  width: 80%;
  height: 100%;
  top: 0;
  left: 20%;
  border-radius: 1rem;
  background: $white;
  box-shadow: -14px 12px 27px 0px rgba($color: $black, $alpha: 0.75);
  transition: 700ms;

  &.hidden {
    left: 110%;
  }

  &-container {
    width: 100%;
    height: 100%;
    padding: 1rem;

    header {
      padding: 1rem;
      z-index: 1;
      border-bottom: 1px solid $grey;
    }
  }

  &-close {
    width: 2rem;
    height: 2rem;
    transition: 200ms;

    img {
      width: 100%;
    }

    &:hover {
      transform: scale(.8);
    }
  }

  &-text-container {
    overflow-y: scroll;

    h2 {
      padding: 2rem 0;
      font-size: 4rem;
      font-weight: $bold;
    }
  }
}