header {
  width: 100%;

  nav {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: right;
  }

  a {
    font-size: 1rem;
  }

  .logo {
    max-width: 4rem;
    transition: 200ms;

    img {
      width: 100%;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .btn {
    padding: .5rem 1rem;
    text-align: center;
    border-right: 1px solid $grey;
    background-color:  $light-grey;

    &-container {
      border-radius: 5px;
      overflow: hidden;
    }

    &:last-child {
      border: none;
    }
  }
}